<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Price and Stock Comparison</title>
</head>
<body>
    <!-- This h1 element gives a title to your chart on the webpage -->
    <h1>Gas Price and Stock Price Comparison</h1>
    
    <!-- The img tag includes the generated plot -->
    <img src="/static/graphs/{{ plot_filename }}" alt="Gas Price vs Stock Plot">
    
    <!-- You could also add a link to navigate back to the home page or other parts of the website -->
    <p style="text-align:center;"><a href="/">Back to Home</a></p>
</body>
</html>